@charset "UTF-8";
/*CSS Document */

body{
    background:#000000;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

header{
    height:140px;
    width:960px;
}

nav{
    height:30px;
    width:960px;
    margin-top:20px;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}

nav ul li{
    display:inline;
    padding-right:20px;
}

nav a{
    text-decoration:none;
    color:#E64043;
}

nav a:hover{
    color:#6cbde1;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-display:gray;
    font-size:40px;
    font-weight:300;
    line-height:40px;
    font-size:12px;
    top:40px;
    width:200px;
    position:absolute;
    opacity:0;
}



